/* Variables */

:root {  
  --section-width: clamp(300px, 90vw, 1500px);
  --box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.2);
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --dark-cyan: hsl(192, 100%, 9%);
  --pale-blue: hsl(207, 100%, 98%);
  --ff-h: "Poppins", sans-serif;
  --ff-p: "Open Sans", sans-serif;
  --fs-h1: 38px;
  --fs-h2: 34px;
  --fs-h3: 20px; 
  --fs-p: 20px;
  --fs-n: 80px;
  --fw-1: 400;
  --fw-2: 600;
  --fw-3: 700;
}

/* General styling */

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-size: var(--fs-p);
    font-family: var(--ff-p);
    font-weight: var(--fw-1);
    color: var(--dark-cyan);
    background-color: white;
}

/* Header Styling */

.header {
    display: flex;
    justify-content: center;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--section-width);
}

.header__first-link {
    padding: 2em 0;
}

.header__first-link:hover {
    transform: scale(1.05);
    transition: all 100ms;
}

.header__second-link {
    font-size: var(--fs-p);
    padding: .75em 1.5em;
    border: 2px solid var(--light-pink);
    border-radius: 50px;
    box-shadow: var(--box-shadow);
    color: var(--light-pink);
    text-decoration: none;
}

.header__second-link:hover {
    color: white;
    background-color: var(--light-pink);
    transition: all 100ms;
}

/* First section styling */

.first-section {
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

.first-section__first-flex {
    width: var(--section-width);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-section__second-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.first-section__h1 {
    font-size: var(--fs-h1);
    font-family: var(--ff-h);
    font-weight: var(--fw-3);
    margin: 0;
}

.first-section__txt {
    max-width: 600px;
}

.first-section__link {
    text-decoration: none;
    color: white;
    background: var(--pink);
    padding: .75em 3em;
    margin: 2em 0 5em 0;
    border-radius: 50px;
    border: 2px solid var(--pink);
    font-weight: var(--fw-2);
    box-shadow: var(--box-shadow);
}

.first-section__link:hover {
    background: white;
    color: var(--pink);
    transition: all 100ms;
}

.first-section__third-flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-section__img {
    width: 100%;
    max-width: 1200px;
}

.first-section__fourth-flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 1200px;
}

.first-section__container {
    padding: 6em 3em;
}

.first-section__h2 {
    font-size: var(--fs-n);
    font-family: var(--ff-h);
    margin: 0;
}

.first-section__h3 {
    font-size: var(--fs-h3);
    margin: 0;
    opacity: 0.5;
    text-align: center;
}

/* Second section styling */

.second-section__first-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 165px;
    padding-bottom: 139px;
    background-image: url(images/bg-section-top-desktop-1.svg), url(images/bg-section-bottom-desktop-1.svg);
    background-position: top center, bottom center;
    background-size: clamp(1920px, 100vw, 9999px) 165px, clamp(1920px, 100vw, 9999px) 139px;
    background-repeat: no-repeat;
}

.second-section__second-flex {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--pale-blue);
}

.second-section__third-flex {
    width: var(--section-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.second-section__container,
.second-section__img {
    width: 43%;
}

.second-section__fourth-flex {
    display: flex;
    justify-content: center;
    margin: 8em 0 6em 0;
}

.second-section__first-flex--second-background {
    background-image: url(images/bg-section-top-desktop-2.svg), url(images/bg-section-bottom-desktop-2.svg);
}


.second-section__5th-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8em 0;
}

.second-section__6th-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-section__call {
    font-size: var(--fs-h2);
    font-family: var(--ff-h);
    font-weight: var(--fw-3);
    margin: 0;
    text-align: center;
}

.second-section__link {
    text-decoration: none;
    color: white;
    background: var(--pink);
    padding: .75em 3em;
    margin: 2em 0 0 0;
    border-radius: 50px;
    border: 2px solid var(--pink);
    font-weight: var(--fw-2);
    box-shadow: var(--box-shadow);
}

.second-section__link:hover {
    background: white;
    color: var(--pink);
    transition: all 100ms;
}

/* Footer styling */

.footer {
    background-image: url(images/bg-footer-top-desktop.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: clamp(1920px, 100vw, 5000px) 158px;
    display: flex;
    align-items: flex-end;
    padding-top: 158px;
}

.footer__first-flex {
    background-color: var(--dark-cyan);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 5em 0;
}

.footer__second-flex {
    display: flex;
    justify-content: space-between;
    width: var(--section-width);
    color: white;
}

.footer__container {
    width: 45%;
}

.footer__third-flex {
    display: flex;
    align-items: center;
}

.footer__txt {
    margin: 5px 15px;
}

.footer__links {
    margin-left: 20px;
    margin-top: 100px;
    display: flex;
}

.footer__link {
    display: flex;
    justify-content: center;
    margin-right: 70px;
}

.footer__social {
    position: absolute;
    height: 35px;
    z-index: 1;
}

.footer__social:hover {
    opacity: 0;
}

.footer__social--pink {
    z-index: 0;
}

.footer__h3 {
    font-size: var(--fs-h2);
    font-family: var(--ff-h);
    margin: 0;
}

.footer__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__email {
    background-color: white;
    border: none;
    border-radius: 5px;
    width: 61%;
    height: 50px;
    padding: 0 .5em;
    font-size: 18px;
    font-family: var(--ff-p);
}

.footer__submit {
    width: 31%;
    height: 50px;
    border: 2px solid var(--pink);
    color: white;
    background: var(--pink);
    font-size: var(--fs-p);
    font-weight: var(--fw-2);
    font-family: var(--ff-p);
    border-radius: 5px;
}

.footer__submit:hover {
    cursor: pointer;
    background: white;
    color: var(--pink);
}

/* Media Queries */

@media (max-width: 1200px) {
    .second-section__third-flex {
        flex-direction: column;
    }

    .second-section__container {
        width: 80%;
        text-align: center;
    }

    .second-section__img {
        width: 65%;
        margin: 45px 0px;
    }
}

@media (max-width: 800px) {
    .first-section__fourth-flex {
        flex-direction: column;
        align-items: center;
    }

    .first-section__container {
        padding: 6em 0 0 0;
    }

    .second-section__5th-flex {
        margin: 4em 0;
    }

    .second-section__call {
        width: 90vw;
    }

    .second-section__link {
        width: min(90vw, 320px);
        text-align: center;
    }

    .footer__second-flex {
        flex-direction: column;
        align-items: center;
    }

    .footer__container {
        width: 90%;
    }

    .footer__links {
        margin-top: 20px;
    }
    
    .footer__container:nth-of-type(2) {
        margin-top: 50px;
    }
}

@media (max-width: 550px) {
    .header__flex {
        flex-direction: column;
    }

    .header__second-link {
        width: 75%;
        text-align: center;
    }

    .footer__form {
        flex-direction: column;
    }

    .footer__email {
        width: 100%;
    }

    .footer__submit {
        width: 60%;
        margin-top: 30px;
    }
}
