/* Variables */

:root {  
  --section-width: clamp(300px, 90vw, 1500px);
  --box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.2);
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --dark-cyan: hsl(192, 100%, 9%);
  --pale-blue: hsl(207, 100%, 98%);
  --ff-h: "Poppins", sans-serif;
  --ff-p: "Open Sans", sans-serif;
  --fs-h1: 38px;
  --fs-h2: 34px;
  --fs-h3: 20px; 
  --fs-p: 20px;
  --fs-n: 80px;
  --fw-1: 400;
  --fw-2: 600;
  --fw-3: 700;
}

/* General styling */

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-size: var(--fs-p);
    font-family: var(--ff-p);
    font-weight: var(--fw-1);
    color: var(--dark-cyan);
    background-color: white;
}

/* Header Styling */

.h {
    display: flex;
    justify-content: center;
}

.h-b {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--section-width);
}

.h-lnk1 {
    padding: 2em 0;
}

.h-lnk1:hover {
    transform: scale(1.05);
    transition: all 100ms;
}

.h-lnk2 {
    font-size: var(--fs-p);
    padding: .75em 1.5em;
    border: 2px solid var(--light-pink);
    border-radius: 50px;
    box-shadow: var(--box-shadow);
    color: var(--light-pink);
    text-decoration: none;
}

.h-lnk2:hover {
    color: white;
    background-color: var(--light-pink);
    transition: all 100ms;
}

/* First section styling */

.s1 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.s1_b1 {
    width: var(--section-width);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s1_b1_c {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.s1_h1 {
    font-size: var(--fs-h1);
    font-family: var(--ff-h);
    font-weight: var(--fw-3);
    margin: 0;
}

.s1_txt {
    max-width: 600px;
}

.s1_lnk {
    text-decoration: none;
    color: white;
    background: var(--pink);
    padding: .75em 3em;
    margin: 2em 0 5em 0;
    border-radius: 50px;
    border: 2px solid var(--pink);
    font-weight: var(--fw-2);
    box-shadow: var(--box-shadow);
}

.s1_lnk:hover {
    background: white;
    color: var(--pink);
    transition: all 100ms;
}

.s1_b2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s1-img {
    width: 100%;
    max-width: 1200px;
}

.s1_b2_b {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 1200px;
}

.s1_b2_c {
    padding: 6em 3em;
}

.s1_b2_c-h2 {
    font-size: var(--fs-n);
    font-family: var(--ff-h);
    margin: 0;
}

.s1_b2_c-h3 {
    font-size: var(--fs-h3);
    margin: 0;
    opacity: 0.5;
    text-align: center;
}

/* Second section styling */

.s2-b1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 930px;
    background-image: url(images/bg-section-top-desktop-1.svg), url(images/bg-section-bottom-desktop-1.svg);
    background-position: top center, bottom center;
    background-size: clamp(1920px, 100vw, 9999px);
    background-repeat: no-repeat;
}

.s2-b1-b1 {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 560px;
    background-color: var(--pale-blue);
}

.s2-b1-b2 {
    width: var(--section-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.s2-b1-c {
    width: 43%;
}

.s2-b1-img {
    width: 43%;
}

.s2-b2-b1 {
    display: flex;
    justify-content: center;
    margin: 8em 0 6em 0;
}

.s2-b2-b2 {
    width: var(--section-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s2-b2-img {
    width: 43%;
}

.s2-b2-c {
    width: 43%;
}

.s2-b3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 930px;
    background-image: url(images/bg-section-top-desktop-2.svg), url(images/bg-section-bottom-desktop-2.svg);
    background-position: top center, bottom center;
    background-size: clamp(1920px, 100vw, 9999px);
    background-repeat: no-repeat;
}

.s2-b3-b1 {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 560px;
    background-color: var(--pale-blue);
}

.s2-b3-b2 {
    width: var(--section-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.s2-b3-c {
    width: 43%;
}

.s2-b3-img {
    width: 43%;
}

.s2-b4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8em 0;
}

.s2-b4-c {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s2-b4-h3 {
    font-size: var(--fs-h2);
    font-family: var(--ff-h);
    font-weight: var(--fw-3);
    margin: 0;
}

.s2-b4-lnk {
    text-decoration: none;
    color: white;
    background: var(--pink);
    padding: .75em 3em;
    margin: 2em 0 0 0;
    border-radius: 50px;
    border: 2px solid var(--pink);
    font-weight: var(--fw-2);
    box-shadow: var(--box-shadow);
}

.s2-b4-lnk:hover {
    background: white;
    color: var(--pink);
    transition: all 100ms;
}

/* Footer styling */

.f {
    background-image: url(images/bg-footer-top-desktop.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: clamp(1920px, 100vw, 5000px);
    display: flex;
    align-items: flex-end;
    height: 750px;
}

.f-b {
    background-color: var(--dark-cyan);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 5em 0;
}

.f-b2 {
    display: flex;
    justify-content: space-between;
    width: var(--section-width);
    color: white;
}

.f-b2-b1 {
    width: 30%;
}

.f-b3-b1-c1,
.f-b3-b1-c2 {
    display: flex;
    align-items: center;
}

.f-b3-b1-c1-txt,
.f-b3-b1-c2-txt {
    margin: 5px 15px;
}

.f-b3-b1-b {
    margin-left: 20px;
    margin-top: 100px;
    display: flex;
}

.f-lnk1,
.f-lnk2,
.f-lnk3 {
    display: flex;
    justify-content: center;
    margin-right: 70px;
}

.f-lnk-img,
.f-lnk-img1 {
    position: absolute;
    height: 35px;
}

.f-lnk-img1 {
    z-index: 1;
}

.f-lnk-img {
    z-index: 2;
}

.f-lnk-img1:hover {
    z-index: 2;
}

.f-lnk-img:hover {
    z-index: 0;
}

.f-b2-b2 {
    width: 40%;
}

.f-b3-b2-h3 {
    font-size: var(--fs-h2);
    font-family: var(--ff-h);
    margin: 0;
}

.f-frm {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.f-eml {
    background-color: white;
    border: none;
    border-radius: 5px;
    width: 61%;
    height: 50px;
    padding: 0 .5em;
    font-size: 24px;
}

.f-sub {
    width: 31%;
    height: 50px;
    border: 2px solid var(--pink);
    color: white;
    background: var(--pink);
    font-size: var(--fs-p);
    font-weight: var(--fw-2);
    font-family: var(--ff-p);
    border-radius: 5px;
}

.f-sub:hover {
    cursor: pointer;
    background: white;
    color: var(--pink);
}